[gcode_macro _PRIME_LINE]
# Parameter T = tool
#           TEMP = expected temp
gcode:
    {% set tool = params.T %}
    {% set temp = params.TEMP|int %}
    RESPOND TYPE='echo' MSG="Prime Line for nozzle T{ tool } Temp={ temp }"

    M104 T{ tool } S{ temp }    # Should have already been set - but just incase

    T{ tool }                         # Switch to correct toolhead and wait for temp

    {% set tool_name = printer.toolchanger.tool_names[params.TOOL|int] %}
    {% set extruder = printer[tool_name].extruder %}
    
    RESPOND TYPE='echo' MSG="Prime Line - wait for temp"
    TEMPERATURE_WAIT SENSOR={extruder}    MINIMUM={temp} 
    RESPOND TYPE='echo' MSG="Prime Line - temp reached"

    # Calculcate offsets for X (increments for each head}
    {% set X1 = 10 + (tool|default(0)|int * 4) %}
    {% set X2 = 12 + (tool|default(0)|int * 4) %}

    RESPOND TYPE='echo' MSG="Prime Line - Draw at X offset {X1} and {X2}"
    # Reset extruder
    G92 E0
    # Move to start position
    G1 X{ X1 } Y20 Z0.2 F5000.0
    # Draw the first line
    G1 X{ X1 } Y180 E15 F1500.0
    # Move to side a little
    G1 X{ X2 } Y180 F5000.0
    # Draw the second line
    G1 X{ X2 } Y20 E30 F1500.0
    # Reset extruder
    G92 E0
    # Retract a little bit
    G1 E-2 F300
